@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark-header {
  @apply text-gray-200 text-base font-semibold uppercase tracking-wider;
}

.light-header {
  @apply text-gray-800 text-base font-semibold uppercase tracking-wider;
}

.LLM {
  @apply bg-linear-to-b from-blue-700 via-purple-800 to-violet-950;
}

.Input {
  @apply bg-linear-to-b from-teal-600 via-emerald-800 to-green-950;
}

.Output {
  @apply bg-linear-to-b from-rose-600 via-red-800 to-orange-950;
}

.Text {
  @apply bg-linear-to-b from-slate-600 via-gray-800 to-zinc-950;
}

.Slack {
  @apply bg-linear-to-b from-amber-500 via-orange-700 to-yellow-950;
}

.btn-primary {
  @apply flex items-center justify-center rounded-lg bg-linear-to-b from-white via-gray-200 to-purple-600 border border-white/30 shadow-lg transition-all hover:bg-white/30;
}

.btn-secondary {
  @apply flex items-center gap-2 bg-linear-to-r from-green-200 via-green-400 to-emerald-600 border border-white/80 font-medium text-gray-900 cursor-pointer shadow-lg hover:bg-emerald-600;
}

.btn-tertiary {
  @apply flex items-center gap-2 bg-linear-to-b from-purple-700 to-black border border-white/50 font-medium text-gray-900 cursor-pointer shadow-lg hover:bg-emerald-600;
}

.gradient-text {
  @apply text-2xl font-bold bg-linear-to-b from-gray-100 via-purple-100 to-purple-400 bg-clip-text text-transparent;
}

.glassmorphic {
  /* Glassmorphism */
  @apply px-6 py-3 rounded-2xl;
  @apply bg-white/10 backdrop-blur-md;

  /* The Glass Border */
  @apply border border-white/20 shadow-xl;

  /* Optional: Inner highlight for extra "glassiness" */
  @apply border-t-white/40;
}

.input-primary {
  @apply rounded-md bg-black/15 backdrop-blur-md border-2 border-white/20 border-t-white/40 px-2 py-1;
}